
<div class="row user-form">
    <div class="col-sm-5">
        <img class="user-register" src="/assets/images/register.jpeg">
    </div>
    <div class="col-sm-7">
      <div *ngIf="loading" class="d-flex justify-content-center spinner-content">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
        <h2 class="text-center heading">Login</h2>
        <form class="user"  [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="form-group row">
                <div class="col-sm-12"  [ngClass]="submitted && loginForm.controls['username'].invalid? 'error': ''">
                    <input  formControlName="username" type="text" class="form-control form-control-user" placeholder="UserName">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12"  [ngClass]="submitted && loginForm.controls['password'].invalid? 'error': ''">
                <input formControlName="password" type="password" class="form-control form-control-user" placeholder="Password">
              </div>
            </div>
            <button type="submit" [ngClass]="loginForm.invalid? 'disabled': ''" class="btn btn-primary btn-user btn-block">
              Login
            </button>
          </form>
    </div>
</div>

