/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';


body{
    background-color: #ebeceb
}

.user-register{
    background: url("/assets/images/register.jpeg");
    // background-position: center;
    // background-size: cover;
  }


.user-form{
    height: 30rem;
    img{
        max-width: 100%;
        width: 100%;
        height: -webkit-fill-available;
    }
    .heading{
        margin-bottom: 2rem;
    }
    input{
        margin-bottom: 1rem;
    }
    button{
        margin-top: 2rem;
    }
    .error{
        input{
            background-color: #f3e5e5;
        }
    }
}


.spinner-content{
    height: -webkit-fill-available;
    position: absolute;
    // left: 45%;
    // top: 45%;
    width: 100%;
    z-index: 1000;
    // background: rgba(127,127,127,0.7);
    .spinner-border{
        margin: 13rem auto;
    }
}